<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
     <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">

  <h1>WELCOM TO THE CROSS</h1>

  <h2>
    If you signup then 
    <%= link_to "click below" , signup_path %>
  </h2>

  <%= link_to "Sign up now!!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("logos/logo.jpg", alt: "Rails logo"),
            root_path%>

            <% end %>