<footer class="footer">
  <small>
    The Developed
    By <a href="http://www.michaelhartl.com/">Mayur Domadiya</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>